/* //////////////////// GENERAL /////////////////// */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");
body {
  font-family: "Nunito", sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* //////////////////// HEADER /////////////////// */
.header {
  flex: 1;
  height: 62px;
  padding: 0px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: aliceblue; */
}
.ensembleLogoButtons {
  display: flex;
  align-items: center;
}
.logo {
  width: 160px;
  height: 35px;
  margin-right: 16px;
}
.logo:hover {
  cursor: pointer;
}
.buttonHeader {
  border: none;
  background-color: white;
  color: #555555;
  font-size: 16px;
  font-weight: 600;
}
.buttonHeader:hover {
  cursor: pointer;
}
.ensembleSearchButtons {
  display: flex;
  align-items: center;
}
.buttonSearch {
  height: 32px;
  width: 32px;
}
.buttonSearch:hover {
  cursor: pointer;
}
.buttonSearch path {
  fill: #7c4ec4;
  color: #7c4ec4;
}
.buttonAddListing {
  background-color: white;
  color: #7c4ec4;
  padding: 12px 6px;
  font-size: 16px;
  border: 1px solid #7c4ec4;
  border-radius: 5px;
  font-weight: 600;
  margin-left: 16px;
}
.buttonAddListing:hover {
  cursor: pointer;
}
.buttonLoginJoin {
  background-color: #7c4ec4;
  color: white;
  padding: 12px 6px;
  margin: 0px 0px 0px 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}
.buttonLoginJoin:hover {
  cursor: pointer;
  background-color: #9069cd;
}

/* //////////////////// HOME /////////////////// */
.ensemblePhotoSearch {
  width: 100%;
  height: 320px;
  background-color: pink;
  background-image: url("./img/pictureHome.jpg");
  background-size: 100%;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.blocTitreSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ensembleSearchButton {
  width: 876px;
  height: 48px;
  border: none;
  display: flex;
}
h1 {
  font-size: 36px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}
.inputSearchBanner {
  width: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: none;
}
.bannerButton {
  width: 56px;
  height: 48px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background-color: #7c4ec4;
}
.bannerButton:hover {
  cursor: pointer;
}
.h2Button {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
h2 {
  font-size: 30px;
  font-weight: 700;
  color: #555555;
}
.buttonViewAllFleche {
  display: flex;
  align-items: center;
}
.buttonViewAll {
  background-color: transparent;
  border: none;
  color: #7c4ec4;
  font-size: 16px;
  font-weight: 700;
}
/* //////////////////// ALLCARDS /////////////////// */
.allCards {
  display: flex;
  overflow: hidden;
  overflow: scroll;
  height: 338px;
  width: 100%;
  margin-bottom: 20px;
  /* background-color: pink; */
}
.cardBoxe {
  overflow: hidden;
  width: 270px;
  height: 338px;
  margin-bottom: 20px;
  margin-right: 20px;
  /* background-color: aquamarine; */
}
.cardPicture {
  width: 270px;
  height: 176px;
  border-radius: 10px;
}
.cardName {
  color: green;
}
.cardDescription {
  text-decoration: none;
  overflow: hidden;
  overflow: scroll;
  width: 270;
  height: 72;
  color: black;
}

/* //////////////////// LogInSignUp /////////////////// */
.ensembeContainers {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.contBtn {
  display: flex;
}
.ensembleOngletsContainer {
  height: 545px;
  background-color: pink;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  box-sizing: border-box;
}
.onglets {
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 20px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}
.containerOnglets {
  width: 424px;
  text-align: justify;
  border-top: none;
}

.active {
  color: #7c4ec4;
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}
.imageLogSign {
  width: 375px;
  height: 545px;
  background-image: url("./img/LogSign.jpg");
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  box-sizing: border-box;
}
h3 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.span1 {
  color: white;
  display: flex;
  font-size: 20px;
  font-weight: 500;
}

/* //////////////////// SignUp/LogIn /////////////////// */
.boxLogos {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.imageLogos {
  width: 25px;
  height: 25px;
  padding: 15px;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 50px;
  object-fit: contain;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.imageLogos:hover {
  border: none;
  background-color: rgb(240, 240, 240);
}
.boxSpanLines {
  display: flex;
  margin-bottom: 15px;
}
.lines {
  flex: 1;
  height: 1px;
  background-color: rgb(145, 143, 143);
  align-items: center;
  display: flex;
  margin-top: 5px;
}
.span2 {
  color: rgb(145, 143, 143);
  font-weight: 300;
  margin-left: 20px;
  margin-right: 20px;
}
.ensembleInputsTitles {
  margin-bottom: 20px;
}
.titresInputs {
  font-weight: 700;
  margin-bottom: 5px;
}
.inputSignEmail {
  width: 100%;
  box-sizing: border-box;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid rgb(145, 143, 143);
}
.boxPasswordEye {
  height: 45px;
  display: flex;
  border-radius: 5px;
}
.eye {
  width: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 10px;
  border-top: 1px solid rgb(145, 143, 143);
  border-bottom: 1px solid rgb(145, 143, 143);
  border-right: 1px solid rgb(145, 143, 143);
  cursor: pointer;
  background-color: white;
}
.inputSignUpLogInPassword {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  border: none;
  padding-left: 15px;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 1px solid rgb(145, 143, 143);
  border-left: 1px solid rgb(145, 143, 143);
  border-bottom: 1px solid rgb(145, 143, 143);
}
.boxCheckbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.checkbox {
  height: 20px;
  width: 20px;
}
.boxRememberMe {
  display: flex;
  align-items: center;
  color: black;
  font-size: 13px;
}
.spanPassword {
  color: black;
  font-size: 13px;
  cursor: pointer;
}
.inputLogInSignUp {
  background-color: #7c4ec4;
  color: white;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
